 .u-section-1 {
  background-image: linear-gradient(#4b2c58, #d4eb04);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/305283242_5866359603398578_2569724201246527645_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 3px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: linear-gradient(#d4eb04, #4b2c58);
}

.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 499px;
  margin: 85px 0 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -500px auto 0 54px;
}

.u-section-2 .u-text-2 {
  margin: 20px 608px 60px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 408px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 473px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 298px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -299px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}