 .u-section-1 {
  background-image: linear-gradient(#4b2c58, #d4eb04);
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-text-1 {
  margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 44px 0 60px;
}