 .u-section-1 {
  background-image: linear-gradient(#4b2c58, #d4eb04);
}

.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 59px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  background-image: none;
  margin: 29px auto 59px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

.text{
  width: 700px;
  color: white;
  margin: auto;
  text-align: justify;
}

h1{
  color:  #d4eb04;
}
.cor1{
  color: #4b2c58; 
  font-weight: 700
}